.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .disclaimer {
    margin: 0;
    font-size: 14px;
  }
  